.countryFacts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 3em 2em 5em 2em;
    height: auto;
    background: #121212;
    color: #000000;
}

.countryFacts-section.light {
    background-color: #ffffff;
    color: #000000;
}

.countryFacts-section_title {
    margin-bottom: 1em;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}

.countryFacts-section_title.light {
    color: #000000;
}

.countryFacts-section_card-container {
    display: grid;
    place-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1em;
}