.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 33rem;
    position: relative;
}

.hero_content {
    align-self: center;
    padding: 4em;
}

.hero_content_title {
    font-size: 3rem;
    margin-bottom: 0.5em;
}

.hero_content_button {
    display: block;
    width: 10rem;
    text-align: center;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.hero_content_button:hover {
    border-radius: 50px;
}

.hero_image {
    justify-self: center;
    height: 100%;
    width: 100%;
    object-fit: contain;
}


@media (max-width: 640px) {
    .hero {
        grid-template-columns: unset;
        height: auto;
    }

    .hero_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2em;
    }
}