.countries-section {
    display: grid;
    place-items: center;
    gap: 1em;
    padding: 3em 2em 5em 2em;
    background: #121212;
    color: #ffffff;
}

.countries-section_title {
    margin-bottom: 1em;
    font-size: 3rem;
    font-weight: bold;
}

.country-cards-container {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1em;
}