@font-face {
    font-family: "Urbanist";
    src: url("./assets/fonts/Urbanist-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Urbanist;
    background-color: #121212;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

body.light {
    background-color: #ffffff;
}