@font-face {
    font-family: "Urbanist";
    src: url("./assets/fonts/Urbanist-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Urbanist;
    background-color: #121212;
}

.flex {
    display: flex;
}

.font-xx-large {
    font-size: xx-large;
}

.font-bold {
    font-weight: bold;
}

.link-no-underline {
    text-decoration: none;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.font-size-xxlg {
    font-size: xx-large;
}