.card {
    height: 200px;
    background-color: #ffffff;
    gap: 2em;
    padding: 2em;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.card.light {
    background-color: #121212;
    color: #ffffff;
}

.card_title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card_text p:first-child {
    margin-bottom: 1em;
}

.card:hover {
    transform: scale(1.05);
}